/* reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.4rem;
  font-family: "Roboto", serif;
  background: rgba(255, 190, 169, 0.69);
}
/* common */
a {
  text-decoration: none;
}
.line {
  display: flex;
  align-items: center;
}
.main-content {
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  border: none;
  color: #edebeb;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  border-radius: 9px;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* header */
header {
  background: #ff474a;
  z-index: 100;
}
.header.fixed {
  position: sticky;
  top: -5px;
}
.header .main-content {
  width: 1440px;
}
.header .body {
  display: flex;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  color: #fbeded;
  font-size: 2.4rem;
  font-weight: 500;
}
.header .logo img {
  width: 105px;
  height: 105px;
}
.header .search-bar {
  display: flex;
  width: 56%;
  height: 40px;
  margin-left: 21px;
  margin-right: 96px;
  align-items: center;
  border-radius: 10px;
  background: #f3f0f0;
  border: 1px solid #b2b2b2;
}
.header .search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 0 10px 0 10px;
  font-size: 2.4rem;
  height: 100%;
  outline: none;
}
::placeholder {
  color: #868383;
  font-family: Roboto;
}
.header .search-bar button {
  border: 0;
  padding-right: 15px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.nav ul {
  display: flex;
  gap: 54px;
}
.nav {
  margin: 0 auto;
}
.nav a {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 31px;
  padding-bottom: 32px;
  position: relative;
}
.nav a:hover {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav img.subtract-icon {
  position: absolute;
  top: 43px;
}
.header .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .user p {
  color: #fff;
}
/* main content */

.mc .title {
  font-weight: 700;
  margin-top: 55px;
}
.mc .desc {
  color: #696969;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 15px;
}
.mc .wrapper {
  height: 477px;
  background: #fff;
  margin-top: 28px;
  padding-top: 34px;
}
.mc .wrapper .infor {
  border: 1px solid rgba(105, 105, 105, 0.3);
  background: #fff;
  margin: 0px 118px 0px 118px;
}
.mc .wrapper .infor1 {
  height: 125px;
}
.mc .wrapper .infor2 {
  height: 207px;
  margin-top: 31px;
}
.mc .wrapper h1 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 26px;
}
.mc .wrapper ul {
  list-style-type: disc;
  padding-left: 35px; /* Thêm khoảng cách bên trái */
  color: #72706f;
  font-size: 1.6rem;
  margin-top: 9px;
  margin-right: 118px;
}
.mc .wrapper p {
  color: #72706f;
  font-size: 1.6rem;
  margin-top: 9px;
  margin-right: 118px;
  padding-left: 35px;
}
.mc .wrapper strong {
  color: #ff474a;
}
.mc .wrapper .cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
}
.mc .wrapper .cont button {
  width: 253px;
  height: 34px;
  border-radius: 5px;
  background: #ff474a;
}
