/* reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.4rem;
  font-family: "Roboto", serif;
  background: rgba(255, 190, 169, 0.69);
}
/* common */
a {
  text-decoration: none;
}
.line {
  display: flex;
  align-items: center;
}
.main-content {
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  border: none;
  color: #edebeb;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 9px;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* header */
header {
  background: #ff474a;
  z-index: 100;
}
.header.fixed {
  position: sticky;
  top: -5px;
}
.header .main-content {
  width: 1440px;
}
.header .body {
  display: flex;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  color: #fbeded;
  font-size: 2.4rem;
  font-weight: 500;
}
.header .logo img {
  width: 105px;
  height: 105px;
}
.nav ul {
  display: flex;
  gap: 54px;
}
.nav {
  margin: 0 auto;
}
.nav a {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 31px;
  padding-bottom: 32px;
  position: relative;
}
.nav a:hover {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav img.subtract-icon {
  position: absolute;
  top: 43px;
}
.header .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .user p {
  color: #fff;
}
/* slider */
.slider {
  background-image: url(/assets/img/image.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: 180px;
  margin-top: 46px;
}
.doanhthu table {
  border-radius: 6px;
  border: 1px solid #fff;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 200px;
  margin-top: 52px;
}
.doanhthu table th,
.doanhthu table td {
  border: 1px solid white; /* Đường kẻ màu trắng */
  text-align: center; /* Căn giữa nội dung */
  vertical-align: middle;
  padding: 10px; /* Khoảng cách bên trong ô */
  height: 100px;
  color: #fff;
  font-family: Roboto;
  font-size: 3.6rem;
}
