/* reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", serif;
  background-image: url(/assets/img/slider-img2.jpg);
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  border: none;
  color: #edebeb;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 9px;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* header */
header {
  background: #ff474a;
  z-index: 100;
}
.header.fixed {
  position: sticky;
  top: -5px;
}
.header .main-content {
  width: 1440px;
}
.header .body {
  display: flex;
  align-items: center;
}
.header .logo {
  color: #fbeded;
  font-size: 4rem;
  font-weight: 700;
  padding: 21px 23px 14px;
}
.nav ul {
  display: flex;
  gap: 54px;
}
.nav {
  margin-left: auto;
  margin-right: 54px;
}
.nav a {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 31px;
  padding-bottom: 32px;
  position: relative;
}
.nav a:hover {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav img.subtract-icon {
  position: absolute;
  top: 43px;
}
header .search-bar {
  width: 338px;
  height: 39px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #646464;
  background: #fffcfc;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}
header .search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.4rem;
  background: transparent;
  height: 100%;
}
header .search-bar button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  position: absolute;
  right: 11px;
  top: 4px;
  bottom: 5px;
  cursor: pointer;
}
header .search-bar button img {
  width: 30px;
  height: 30px;
}
.header .login a {
  color: #fff;
  font-size: 2.4rem;
}
.header .login a:first-child {
  margin-left: 43px;
}
/* content */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-top: 112px;
  gap: 241px;
}
.content .left {
  display: grid;
  place-items: center;
}
.content .left .icon {
  width: 169px;
  height: 169px;
}
.content .left .title {
  color: #fff;
  font-family: Roboto;
  margin-top: 17px;
}
.content .left h1 {
  font-size: 4.8rem;
  font-weight: 800;
}
.content .left h2 {
  text-align: center;
  width: 457px;
  font-size: 3.2rem;
  font-weight: 500;
}
.content .right {
  width: 456px;
  height: 338px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content .right .top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 27px 0 40px 0;
}
.content .right .top-content .back {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 16px;
}
.content .right .top-content .title {
  color: #232323;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.2rem;
  font-weight: 700;
}
.content .right .top-content::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #868686;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0px;
}
.content .right .bottom-content {
  display: grid;
  place-items: center;
  padding: 37px 0 39px 0;
}
.content .right .bottom-content .input {
  width: 384px;
  height: 64px;
  border-radius: 21px;
  border: 1px solid #cbcaca;
  background: #e4e4e4;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 400;
}
::placeholder {
  color: #9d9a9a;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 400;
}
.content .right .bottom-content .next {
  width: 220px;
  height: 62px;
  border-radius: 16px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #2b2727;
  font-family: Roboto;
  font-size: 3.2rem;
  font-weight: 400;
  border: none;
  margin-top: 42px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.content .right .bottom-content .next:hover {
  background: #b0b0b0; /* Làm nền tối hơn */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); /* Giảm độ lớn bóng đổ */
}
