/* reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", serif;
  background: rgba(255, 190, 169, 0.69);
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  border: none;
  color: #edebeb;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 9px;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* header */
header {
  background: #ff474a;
  z-index: 100;
}
.header.fixed {
  position: sticky;
  top: -5px;
}
.header .main-content {
  width: 1440px;
}
.header .body {
  display: flex;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
  color: #fbeded;
  font-size: 2.4rem;
  font-weight: 500;
}
.header .logo img {
  width: 105px;
  height: 105px;
  flex-shrink: 0;
}
.nav ul {
  display: flex;
  gap: 54px;
}
.nav {
  margin-left: auto;
  margin-right: 54px;
}
.nav a {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 31px;
  padding-bottom: 32px;
  position: relative;
}
.nav a:hover {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav img.subtract-icon {
  position: absolute;
  top: 43px;
}
header .search-bar {
  width: 338px;
  height: 39px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #646464;
  background: #fffcfc;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}
header .search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.4rem;
  background: transparent;
  height: 100%;
}
header .search-bar button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  position: absolute;
  right: 11px;
  top: 4px;
  bottom: 5px;
  cursor: pointer;
}
header .search-bar button img {
  width: 30px;
  height: 30px;
}
.header .login a {
  color: #fff;
  font-size: 2.4rem;
}
.header .login a:first-child {
  margin-left: 43px;
}
/* slider */
.slider {
  margin-top: 9px;
  position: relative;
}
.slider::after {
  content: "";
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background: #868686;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.slider .main-content {
  width: 100%;
  max-width: calc(100% - 40px);
}
.food-image .thumb {
  width: 100%;
  height: 512px;
  border-radius: 36px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.slider .food-image button.prev,
.slider .food-image button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.slider .food-image .prev {
  left: 31.07px;
}
.slider .food-image .next {
  right: 31.07px;
}
.food-image .dots {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
.food-image .dots .dot {
  width: 22px;
  height: 22px;
  background-color: #d9d9d9;
  border-radius: 50%;
  opacity: 0.36;
}
.food-image .dots .dot.active {
  opacity: 1;
}
.food-images .food-image {
  display: none;
}
.food-images .food-image:first-child {
  display: block;
}
.food-images .food-image:not(:first-child) .prev,
.food-images .food-image:not(:first-child) .next {
  display: none;
}
/* search bar */
.search-bar-main {
  position: relative;
  display: flex;
  max-width: 1164px;
  height: 39px;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
  background: #f3f0f0;
  border: 1px solid #b2b2b2;
  margin-top: 50px;
}
.search-bar-main input {
  flex: 1;
  background: transparent;
  border: none;
  height: 100%;
  padding: 0 10px 0 10px;
  font-size: 2.4rem;
}
::placeholder {
  color: #868383;
  font-family: Roboto;
}
.search-bar-main button {
  width: 103.314px;
  height: 100%;
  border: 0;
  background: transparent;
  cursor: pointer;
}
/* Ưu đãi */
.uu-dai {
  position: relative;
}
.uu-dai .uu-dai-list {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
.uu-dai .title {
  margin-top: 61px;
  color: #101010;
  font-size: 3.6rem;
  font-weight: 700;
}
.uu-dai .uu-dai-item {
  flex: 1;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.uu-dai .uu-dai-item .thumb {
  width: 100%;
  height: 232px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.uu-dai .uu-dai-item .infor {
  padding: 31px 4px 18px 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uu-dai .uu-dai-list .uu-dai-item .infor .food-name {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.uu-dai-item .desc {
  display: block;
  color: #000;
  font-size: 1.6prem;
}
.uu-dai-item .infor .desc.chi-tiet {
  margin-top: 31px;
}
.uu-dai .uu-dai-item .infor .time {
  margin-top: 19px;
}
.uu-dai .btn.more {
  margin-top: 17px;
  width: 1164px;
  height: 51px;
}
.uu-dai::after {
  content: "";
  display: block;
  width: 1164px;
  height: 1px;
  background: #868686;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}
.uu-dai .next {
  display: block;
  background: none;
  border: none;
  position: absolute;
  right: 330px;
  top: 180px;
  width: 27px;
  height: 47.849px;
}
/* flash sale */
.flash-sale .title {
  margin-top: 12px;
  color: #101010;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: normal;
}
.flash-sale .flash-sale-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  position: relative;
}
.flash-sale .flash-sale-item {
  flex: 1;
  width: 224px;
  height: 403px;
  border-radius: 10px 10px 15px 15px;
  background: #f2f2f2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.flash-sale .thumb {
  width: 100%;
  height: 232px;
  border-radius: 10px 10px 0px 0px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.flash-sale .infor {
  padding: 31px 4px 12px 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flash-sale .shop-name {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.flash-sale .price {
  margin-top: 31px;
  text-align: center;
  color: #ff474a;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: normal;
}
.flash-sale .old-price {
  color: #000;
  font-size: 2rem;
  text-decoration: line-through;
}
.flash-sale .currency {
  color: #000;
  font-size: 2.4rem;
}
.flash-sale .btn.more {
  margin-top: 17px;
  width: 1164px;
  height: 51px;
}
.flash-sale .next {
  background: none;
  border: none;
  position: absolute;
  padding: 0;
  right: -43px;
  top: 92px;
}
/* sub-slider */
.sub-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}
.sub-slider .food-image {
  max-width: 1400px;
  height: 267px;
  background: lightgray 50% / cover no-repeat;
  position: relative;
}
.sub-slider .next {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sub-slider .prev {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* shop list */
.shop-list {
  margin-top: 27px;
  padding: 10px;
}
.shop-list .filter-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  height: 98px;
}

.shop-list .gan-toi {
  width: 30%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}
.shop-list .ban-chay {
  width: 40%;
  height: 100%;
}
.shop-list .danh-gia {
  width: 30%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}
.shop-list .bt {
  background: #ff474a;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shop-list-item .item-row {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-top: 37px;
}
.shop-list-item .item {
  border-radius: 9px 9px 5px 5px;
  background: #fff;
  width: 19%;
  height: 450px;
}

.shop-list-item .item .thumb img {
  width: 100%;
  height: 206px;
  object-fit: cover;
  border-radius: 9px 9px 0px 0px;
  background: lightgray 50% / cover no-repeat;
}
.shop-list-item .item .infor {
  padding: 14px 0 42px 0;
}
.shop-list-item .item .title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.shop-list-item .item .desc {
  margin-left: 13px;
}
.shop-list-item .item .desc1 {
  margin-top: 13px;
}
.shop-list-item .item .desc2 {
  margin-top: 18px;
}
.shop-list-item .item .desc3 {
  margin-right: 46px;
}
.shop-list-item .item .sale {
  border-radius: 0px 0px 4px 4px;
  background: #ff474a;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-list-item .item .sale a {
  color: #fff;
  font-size: 2rem;
}
/* footer */
.footer {
  margin-top: 114px;
  background: #ff474a;
  padding-top: 55px;
}
.footer .top {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
}
.footer .top h1 {
  margin-left: 50px;
}
.footer .top::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #dadada;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}
.footer .mid {
  display: flex;
  justify-content: space-between;
}
.footer .mid .list {
  margin-top: 76px;
}
.footer .mid .list a {
  display: inline-block;
  margin-bottom: 40px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
.footer .mid .socials {
  margin-top: 22px;
}
.footer .contact::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #dadada;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}
.footer .bot {
  margin-top: 9px;
}
