/* reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.4rem;
  font-family: "Roboto", serif;
  background: rgba(255, 190, 169, 0.69);
}
/* common */
a {
  text-decoration: none;
}
.main-content {
  width: 1164px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 20px);
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  border: none;
  color: #edebeb;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 9px;
  background: #ff474a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* header */
header {
  background: #ff474a;
  z-index: 100;
}
.header.fixed {
  position: sticky;
  top: -5px;
}
.header .main-content {
  width: 1440px;
}
.header .body {
  display: flex;
  align-items: center;
}
.header .logo {
  color: #fbeded;
  font-size: 4rem;
  font-weight: 700;
  padding: 21px 23px 14px;
}
.nav ul {
  display: flex;
  gap: 54px;
}
.nav {
  margin-left: auto;
  margin-right: 54px;
}
.nav a {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 31px;
  padding-bottom: 32px;
  position: relative;
}
.nav a:hover {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
}
.nav img.subtract-icon {
  position: absolute;
  top: 43px;
}
header .search-bar {
  width: 338px;
  height: 39px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #646464;
  background: #fffcfc;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}
header .search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.4rem;
  background: transparent;
  height: 100%;
}
header .search-bar button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  position: absolute;
  right: 11px;
  top: 4px;
  bottom: 5px;
  cursor: pointer;
}
header .search-bar button img {
  width: 30px;
  height: 30px;
}
.header .login a {
  color: #fff;
  font-size: 2.4rem;
}
.header .login a:first-child {
  margin-left: 43px;
}
/* shopping cart */
.shopping-cart {
  padding: 20px 0;
  margin-top: 54px;
}
.shopping-cart .top::after {
  content: "";
  display: block;
  width: 1164px;
  height: 1px;
  margin-top: 24px;
  background: #868686;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}
.shopping-cart .top .box {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 5px solid #000;
  background: #fff7f7;
  width: 218px;
  height: 45px;
}
.shopping-cart .top .icon {
  width: 33px;
  height: 34px;
  margin-left: 18px;
}
.shopping-cart .top span {
  color: #000;
  font-weight: 400;
  line-height: 250%; /* 250% */
}
.shopping-cart .mid {
  padding: 16px 0;
}
.shopping-cart .mid::after {
  content: "";
  display: block;
  width: 1164px;
  height: 1px;
  margin-top: 82px;
  background: #868686;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}
.shopping-cart .item {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 3px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 152px;
  margin-top: 35px;
}
.shopping-cart .item .check {
  width: 38px;
  height: 39px;
  border-radius: 15px;
  border: 2px solid #000;
  background: #fff;
  margin-left: 22px;
  margin-right: 48px;
}
.shopping-cart .item .thumb {
  width: 186px;
  height: 123px;
  border-radius: 33px;
  object-fit: cover;
}
.shopping-cart .item .infor {
  margin-left: 43px;
}
.shopping-cart .item .infor .details {
  color: #000;
  font-weight: 600;
  padding: 10px 0;
}
.shopping-cart .item .infor .price {
  color: #ff2121;
}
.shopping-cart .item .so-luong {
  margin-left: 432px;
}

.shopping-cart .item .num {
  margin-left: 48px;
  border-radius: 15px;
  border: 1px solid #f00;
  background: rgba(255, 71, 74, 0);
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping-cart .bottom {
  margin-top: 36px;
}
.shopping-cart .bottom .box {
  width: 100%;
  height: 140px;
  border-radius: 48px;
  border: 3px solid #000;
  background: #ff2121;
  display: flex;
  align-items: center;
}
.shopping-cart .bottom .box .tong {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  margin-left: 50px;
}
.shopping-cart .bottom .box .thanh-toan {
  width: 186px;
  height: 60px;
  border-radius: 15px;
  border: 2px solid #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 547px;
}
.shopping-cart .bottom .box .thanh-toan h1 {
  color: #191919;
  font-size: 3.2rem;
  font-weight: 700;
}
